/**
 * Make sure these look good in light mode and dark mode!
 * If you omit any values, defaults will be used.
 */
$white: #fdfdfd;
$black: #262626;
$accent: rgb(0, 137, 255);

.about h1 {
  color: $accent;
}